.app.dark {
  --bg-color: #030353;
  --inverted-bg-color: #dfdff1;

  --primary-color: rgb(32, 9, 159);
  --secondary-color: rgb(21, 4, 56);
  --inverted-primary-color: rgb(11, 162, 56);
  --inverted-secondary-color: rgb(5, 78, 38);
}