:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: rgb(11, 162, 56);
  --secondary-color: rgb(5, 78, 38);
  --inverted-primary-color: rgb(32, 9, 159);
  --inverted-secondary-color: rgb(21, 4, 56);
}