.Wrapper {
  display: flex;
}

.label {
  margin-right: 5px;
}

.select {
  background: rgb(102 206 123 / 25.8%);
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

.option {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}
